name: dacapo-testing

on: [pull_request]

jobs:
  dacapo-testing:
    name: Laravel Dacapo (PHP ${{ matrix.php-versions }} on ${{ matrix.operating-system }})
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ubuntu-latest]
        php-versions: ['8.0', '7.4']

    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}

      - name: Version
        run: |
          cat /etc/os-release
          php -v
          composer --version

      - name: Install Dependencies
        run: |
          composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --prefer-dist

      - name: Execute tests via PHPUnit
        run: |
          composer test
